# Importing libraries

In [1]:
import pandas
import csv

# Loading data

In [2]:
spotify_user_track = pandas.read_csv(
    "./data/spotify_dataset.csv",
    dtype={"user_id": "string", ' "playlistname"': "category"},
    quoting=csv.QUOTE_ALL,
    on_bad_lines="warn",
    usecols=["user_id", ' "playlistname"'],
)

spotify_user_track

                                   user_id  "playlistname"
0         9cc0cfd4d7d7885102480dd99e7a90d6  HARD ROCK 2010
1         9cc0cfd4d7d7885102480dd99e7a90d6  HARD ROCK 2010
2         9cc0cfd4d7d7885102480dd99e7a90d6  HARD ROCK 2010
3         9cc0cfd4d7d7885102480dd99e7a90d6  HARD ROCK 2010
4         9cc0cfd4d7d7885102480dd99e7a90d6  HARD ROCK 2010
...                                    ...             ...
12901974  2302bf9c64dc63d88a750215ed187f2c          iPhone
12901975  2302bf9c64dc63d88a750215ed187f2c          iPhone
12901976  2302bf9c64dc63d88a750215ed187f2c          iPhone
12901977  2302bf9c64dc63d88a750215ed187f2c          iPhone
12901978  2302bf9c64dc63d88a750215ed187f2c          iPhone

[12901979 rows x 2 columns]

In [22]:
spotify_user_track.where(spotify_user_track['playlist_name'] == 'Everything at once').groupby("user_id").count()

                                  playlist_name
user_id
c50566d83fba17b20697039d5824db78           7892

# Data cleaning

In [10]:
spotify_user_track = spotify_user_track.rename(columns={' "playlistname"': "playlist_name"})

user_playlist_pair = spotify_user_track.drop_duplicates(["user_id", "playlist_name"])
user_playlist_pair

                                   user_id     playlist_name
0         9cc0cfd4d7d7885102480dd99e7a90d6    HARD ROCK 2010
67        9cc0cfd4d7d7885102480dd99e7a90d6          IOW 2012
104       07f0fc3be95dcd878966b1f9572ff670              2080
114       07f0fc3be95dcd878966b1f9572ff670              C418
148       07f0fc3be95dcd878966b1f9572ff670         Chill out
...                                    ...               ...
12901680  2302bf9c64dc63d88a750215ed187f2c          Alt Rock
12901733  2302bf9c64dc63d88a750215ed187f2c      Classic Rock
12901737  2302bf9c64dc63d88a750215ed187f2c  Liked from Radio
12901793  2302bf9c64dc63d88a750215ed187f2c           Shuffle
12901865  2302bf9c64dc63d88a750215ed187f2c            iPhone

[240036 rows x 2 columns]

In [20]:
user_playlist_user_joined = user_playlist_pair.join(user_playlist_pair, lsuffix="_from", rsuffix="_to")
user_playlist_user_joined.loc[user_playlist_user_joined['user_id_from'] != user_playlist_user_joined['user_id_to']]

Empty DataFrame
Columns: [user_id_from, playlist_name_from, user_id_to, playlist_name_to]
Index: []

In [8]:
user_playlist_pair

                                           user_id
playlist_name
HARD ROCK 2010    9cc0cfd4d7d7885102480dd99e7a90d6
IOW 2012          9cc0cfd4d7d7885102480dd99e7a90d6
2080              07f0fc3be95dcd878966b1f9572ff670
C418              07f0fc3be95dcd878966b1f9572ff670
Chill out         07f0fc3be95dcd878966b1f9572ff670
...                                            ...
Alt Rock          2302bf9c64dc63d88a750215ed187f2c
Classic Rock      2302bf9c64dc63d88a750215ed187f2c
Liked from Radio  2302bf9c64dc63d88a750215ed187f2c
Shuffle           2302bf9c64dc63d88a750215ed187f2c
iPhone            2302bf9c64dc63d88a750215ed187f2c

[240036 rows x 1 columns]